bucket         = "your-terraform-state-bucket"          # Set manually
key            = "terraform/state"
region         = "eu-north-1"
dynamodb_table = "your-terraform-state-locks-table"     # Set manually
encrypt        = true