bucket         = "your-terraform-state-bucket"          # This file will be used to automatically set bucket, key and region in gitlab-ci.yml before_script
key            = "terraform/state"
region         = "eu-north-1"                           
use_lockfile   = true
encrypt        = true